# ignore additional files
*.Rproj
*.Rhistory
*.RData
*.DS_Store
*.Rproj.user/
*.zip
*.gz
/.quarto/
/IntroGR/GSE174810/
/IntroGR/results/
/ChIP-seq_analysis/Mar24/
/ChIP-seq_analysis/results/
/PBMC3k/filtered_gene_bc_matrices/
/PBMC3k/pages/pbmc_tutorial.rds
